.section-fiveteen {
    display: flex;
    flex-direction: column;
    .nazv {
        align-self: flex-start;
        p {
            font-size: 25px;
            font-weight: 500;
        }
    }
    .glav-card-container {
        display: flex;
        .glav-card {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: 40%;
            padding-left: 20px;
            border-left: 1px solid #80C2FF;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                background-color: #DCEEFF;

            }
            p:nth-child(1){
                color: #80C2FF;
                font-size: 20px;
                font-weight: 500;
            }
            p:nth-child(2){
                font-size: 14px;
            }
        }
    }
}