.main-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}
.MainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    row-gap: 100px;
}
.Main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}