.section-seven-all {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    align-self: center;

    .seven-all {
        display: flex;
        width: 70%;
        row-gap: 50px;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: space-between;
         #nazv-seven {
        font-size: 30px;
        font-weight: 500;
        }
        .questions-left {
            width: auto;
        }
        .questions-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: auto;
            column-gap: 50px;
            width: 100%;
        }
        .questions-cards-container {
            display: grid;
            grid-template-columns: 50% 50% ;
            width: 80%;
            background-color: #0074DFBF;
            column-gap: 20px;
            row-gap: 5px;
            height: 100%;
            padding: 30px;
            border-radius: 30px;
            .ques-card {
                padding: 20px;
                width: 80%;
                transition: 0.5s;
                border-radius: 30px;
                cursor: pointer;
                &:hover {
                    background-color: #0074DF;
                }
                p:nth-child(1){
                    color:#FFEFEF;
                    font-size: 30px;
                    width: 40%;
                }
                p:nth-child(2){
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    width: 100%;
                }
            }
        }
        .container {
        background-color: #0074DF;
        border-radius: 30px;
        padding: 30px;
        width: 580px;
        height: 100%;
        box-sizing: border-box;
        overflow: auto; /* скрываем скролл у родителя */
        display: flex;
        flex-direction: column;
        }
        .questions-right {
            height: 600px;
            overflow-y: auto; /* скролл у внутреннего блока */
            padding-right: 20px; /* отступ для скроллбара */
            box-sizing: content-box;
            p {
                color: white;
            }
        }

        .slider-nav {
            align-self: flex-start;
        }
    }
}
