.section-five-all {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 99vw;
  align-self: center;
  overflow-x: hidden; /* скрывает скролл */
  position: relative;
    li {
        list-style: none;
    }
  .five-all {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    row-gap: 90px;
    align-items: flex-start;
    justify-content: space-between;

    #Nazv-five {
      font-size: 30px;
      font-weight: 500;
      color: black;
    }

    .slider-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        cursor: pointer;
        background: #DCEEFF;
        color: #fff;
        padding: 5px 10px;
        border: none;
        font-size: 14px;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }

    .slider-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 15%;
      column-gap: 5px;
      row-gap: 30px;
      justify-content: space-between;
      position: relative;

      
    }

    .forBtn-five {
      button {
        background-color: #0089ED;
        color: white;
        border-radius: 10px;
        padding: 15px 70px;
        border: 1px solid #0089ED;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          color: #0089ED;
          background-color: white;
        }
      }
    }
  }
}

.swiper-wrapper {
  display: flex;
  width: 100vw;
  max-width: 100%;
}
.slide-five {
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 20px;
        width: 400px;
        background-color: #0194E6;
        padding: 30px;
        border-radius: 20px;
        justify-content: flex-start;
        p {
          color: white;
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          row-gap: 20px;
          align-items: center;
          height: 100%;
          li {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            &:nth-child(1) {
              flex-direction: column;
              row-gap: 15px;

              p {
                font-weight: 500;
                font-size: 20px;
              }
            }
          }
        }

        &.first {
          background-color: #00B7DF;
        }
}
.five-all  {
    margin-left: 15%;
}
.top-slider-nav {
    display: flex;
    justify-content: space-between;
    width: 70%;

}
